{% extends 'Curriculator/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

 {% block title %} Aggiorna Profilo {% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Modifica i tuoi dati:</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form | crispy }}
                <button type="submit" class="btn btn-success btn-block"> Aggiorna </button>
            </form>
            <hr>
        </div>
    </div>
{% endblock %}