{% extends 'Curriculator/base.html' %}
{% block title %} Profilo {% endblock %}
{% block content %}
    <div class="container">
        <!--<h2> Dati anagrafici:</h2>-->
        <h1>Profilo:</h1>
        <div class="card" style="width: 12rem;">
            <img src="{{ object.foto.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"> <strong>{{ user.first_name}} {{ user.last_name }}</strong></p>
            </div>
        </div>
        <br>
        <div class="">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Data di nascita: {{ object.data_nascita }}</li>
            <li class="list-group-item">Luogo di nascita: {{ object.luogo_nascita }}</li>
            <li class="list-group-item">Email: {{ user.email }}</li>
            <li class="list-group-item">Telefono: {{ object.telefono }}</li>
        </ul>
        </div>
        <br>
        <a class="btn btn-primary btn-sm" onclick="location.href='{% url 'CurriculatorApp:crea-curriculum'%}'">Nuovo Curriculum</a>
        <div class="container">
        <br>
        <h4> I tuoi curriculum: </h4>
        <!--filtrare la selezione di cv-->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" >Data Creazione</th>
                    <th scope="col">Data Modifica</th>
                </tr>
                </thead>
                <tbody>
                {% for item in curriculum %}
                    <tr class="table-light">
                        <th scope="row"></th>
                        <td>{{ item.data_creazione }}</td>
                        <td>{{ item.data_modifica }}</td>
                        <td>
                            <a class="btn btn-success btn-sm" href="{% url 'CurriculatorApp:dettagli-curriculum' pk=item.pk%}">
                                Visualizza
                            </a>
                            <a class="btn btn-danger btn-sm" href="{% url 'CurriculatorApp:delete-curriculum' pk=item.pk %}" onclick="if(confirm('Confermi di voler cancellare?')){}else{return false;}">
                                Cancella
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}