{% extends 'Curriculator/base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
    {% block navabar %} {% endblock %}
    <div class="container">
    <div class="jumbotron">
        <h1>Homepage</h1>
        {% if user.is_authenticated %}
            <p>Benvenuto {{ user.username }}!</p>
            <p><a class="btn btn-outline-secondary" href="{% url 'CurriculatorApp:profilo' pk=user.pk %}"> Profilo </a></p>
            <p><a class="btn btn-outline-secondary" href="{% url 'CurriculatorApp:aggiorna-profilo' %}">Aggiorna Profilo </a></p>
            <p><a class="btn btn-outline-secondary" href="{% url 'logout' %}">Logout</a><br></p>
        {% else %}
            <p><a class="btn btn-outline-secondary" href="{% url 'CurriculatorApp:user-register' %}">Register</a><br></p>
            <p><a class="btn btn-outline-secondary" href="{% url 'login' %}">Login</a><br></p>
            </div>
            </div>
    {% endif %}
{% endblock %}